<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Reveal </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <section>
            <h1>La emoción musical y sus aspectos</h1>
        </section>
        <section>
            <div class="container reveal">
                <h2>Nuestra idea</h2>
                <p> La valencia es una medida que refleja la positividad o negatividad emocional de una canción. El análisis se divide en tres categorías principales de valencia: baja valencia (0 a 0.33), valencia moderada (0.33 a 0.66) y alta valencia (0.66 a 1). Cada categoría representa un espectro emocional distinto y nos permite examinar las particularidades musicales que definen cada rango. </p>
                <div class="cards">
                    <div class="text-card">
                        <h3>Tristes</h3>
                        <p> Esta categoría de canciones representa las canciones con valencia de 0 a 0,33 </p>
                    </div>
                    <div class="text-card">
                        <h3>Neutras</h3>
                        <p> Esta categoría de canciones representa las canciones con valencia de 0,33 a 0,66 </p>
                    </div>
                    <div class="text-card">
                        <h3>Felices</h3>
                        <p> Esta categoría de canciones representa las canciones con valencia de 0,66 a 1 </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container reveal">
                <h2>Canciones tristes</h2>
                <div class="cards">
                    <img src="img/grafico1.png" alt="Mi imagen">
                </div>
            </div>
        </section>
        <section>
            <div class="container reveal">
                <h2>Canciones neutras</h2>
                <div class="cards">
                    <img src="img/grafico2.png" alt="Mi imagen">
                </div>
            </div>
        </section>
        <section>
            <div class="container reveal">
                <h2>Canciones felices</h2>
                <div class="cards">
                    <img src="img/grafico3.png" alt="Mi imagen">
                </div>
            </div>
        </section>
        <section>
            <div class="container reveal">
                <h2>Title</h2>
                <div class="cards">
                    <div class="text-card">
                        <h3>title</h3>
                        <p> parrafooooooo </p>
                    </div>
                    <div class="text-card">
                        <h3>title</h3>
                        <p> parrafooooooo </p>
                    </div>
                    <div class="text-card">
                        <h3>title</h3>
                        <p> parrafooooooo </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container reveal">
                <h2>Title</h2>
                <div class="cards">
                    <div class="text-card">
                        <h3>title</h3>
                        <p> parrafooooooo </p>
                    </div>
                    <div class="text-card">
                        <h3>title</h3>
                        <p> parrafooooooo </p>
                    </div>
                    <div class="text-card">
                        <h3>title</h3>
                        <p> parrafooooooo </p>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">
        window.addEventListener('scroll', reveal);
        
        function reveal(){
            var reveals = document.querySelectorAll('.reveal');

            for(var i = 0; i < reveals.length; i++){

                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 150;

                if(revealtop < windowheight - revealpoint){
                    reveals[i].classList.add('active');
                }
                else{
                    reveals[i].classList.remove('active');
                }
            }
        }
        </script>

    </body>
</html>