@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #1D212B;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards img {
    max-width: 50%; /* Adjust the value as needed */
    display: block;
    margin: 0 auto;
    padding-top: 60px;
  }

p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px; /* Add desired top padding */
    padding-bottom: 20px; /* Add desired bottom padding */
  }

section:nth-child(1){
    color: #fff;
}

section:nth-child(2){
    color: #1D212B;
    background: #fff;
}

section:nth-child(3){
    color: #fff;
}

section:nth-child(4){
    color: #fff;
}

section:nth-child(5){
    color: #fff;
}

section:nth-child(6){
    color: #1D212B;
    background: #fff;
}

section:nth-child(6){
    color: #ffff;
}

section .container{
    margin: 100px;
}

section h1{
    font-size: 60px;
}

section h2{
    font-size: 40px;
    text-align:center;
    text-transform: uppercase;
}

section .cards{
    display: flex;
}

section .cards .text-card:nth-child(1) {
    background: #E6662C;
    margin: 20px;
    padding: 20px;
  }
  
  section .cards .text-card:nth-child(2) {
    background: #9CC545;
    margin: 20px;
    padding: 20px;
  }
  
  section .cards .text-card:nth-child(3) {
    background: #4984BE;
    margin: 20px;
    padding: 20px;
  }

section .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    section h1{
        font-size: 40px;
    }

    section .cards{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}