@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

body{
    background: #1D212B;
}

section{
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.section .cards .card .text-card {
    background-color: #E6662C;
    margin: 20px;
    padding: 20px;
}

.cards img {
    max-width: 90%; /* Adjust the value as needed */
    display: block;
    margin: 0 auto;
    padding-top: 60px;
}

.card {
    text-align: center;
}

.card h3 {
    margin-top: 10px;
}
.text-card {
    margin-top: 50px;
    align-self: center;
}

p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px; /* Add desired top padding */
    padding-bottom: 20px; /* Add desired bottom padding */
  }

section:nth-child(1){
    color: #fff;
}

section:nth-child(2){
    color: #1D212B;
    background: #fff;
}

section:nth-child(3){
    color: #fff;
}

section:nth-child(4){
    color: #1D212B;
    background: #fff;
}

section:nth-child(5){
    color: #fff;
}

section:nth-child(6){
    color: #fff;
}


section .container{
    margin: 100px;
}

section h1{
    font-size: 60px;
}

section h2{
    font-size: 40px;
    text-align:center;
    text-transform: uppercase;
}

section .cards{
    display: flex;
}

/* section .cards:nth-child(1){
    display: flex;
}
*/
section .cards:nth-child(2){
    display: flex;
    margin-left: 25px;
}

section .cards .text-card:nth-child(1) {
    background: #E6662C;
    margin: 20px;
    padding: 20px;
}
  
section .cards .text-card:nth-child(2) {
    background: #9CC545;
    margin: 20px;
    padding: 20px;
}
  
section .cards .text-card:nth-child(3) {
    background: #4984BE;
    margin: 20px;
    padding: 20px;
}


section .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    section h1{
        font-size: 40px;
    }

    section .cards{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


t{
    color: #E6662C;
}
n{
    color: #81b71a;
}
f{
    color:#4984BE;
}

#intro{
    text-align: center;
    width: 28%;
    height: 50%;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #fff;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
 #Explicacion-intro{
    width: 63%;
    font-size: 22px;
    /* margin-left: 15%;
    margin-right: 15%; */
    margin-top: 2%;
}

/* <temp style="color:#E6662C">tempo</temp>, el <mod style="color:#9CC545">modo (escala tonal)</mod>, el <vol style="color:#D26AB0">volumen</vol> y la <ene style="color:#E22C42">energía</ene>. */


#scrolly_fotos {
    position: relative;
    /* background-color: #cfcf9e; */
    padding: 1rem;
 
  }
  
  #steps_container {
    position: relative;
    padding: 0;
    /* max-width: 400px; */
    margin: 0 auto;
  }
  /* Las fotos por default están ocultas */
  .foto {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    transition: opacity 0.5s ease-in-out;
    position: center center;
    size: cover;
  }
  .is_visible {
    opacity: 1;
  }
  
  #fixed_container {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    transform: translate3d(0, 0, 0);
    /* background-color: #caa9a9; */
    z-index: 0;
    height: 100vh;
  }
  
  .step {
    margin: 0 auto 2rem auto;
    color: #fff;
    height: 100vh;
    /* border: 1px solid red;  */
  }
  
  .step:last-child {
    margin-bottom: 0;
  }
  
  
  .step p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: #353c4ef3;
  }

  .txt{
    /* dejar display como preterminado para este id y que no sea none*/
    display: flex;
  }